</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>

     <!-- HEADER -->
     <header>
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-3">
                         <p>Welcome to MALT Health Services</p>
                    </div>

                    <div class="col-md-8 col-sm-9 text-align-right">
                         <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>

                         <span class="email-icon"><i class="fa fa-envelope-o"></i> <a
                                   href="#">info@malt.com</a></span>
                    </div>

               </div>
          </div>
     </header>

     <!-- MENU -->
     <section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
                   <div class="navbar-header">
                         <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                              <span class="icon icon-bar"></span>
                         </button>

                         <!-- lOGO TEXT HERE -->
                         <a href="/home" class="navbar-brand">MALT <i class="fa fa-h-square"></i>ealth Services</a>
                         <a href="/home" class="navbar-brand">{{user}}</a>
                    </div>

                    <!-- MENU LINKS -->
                    <div class="collapse navbar-collapse">
                         <ul class="nav navbar-nav navbar-right">
                              <li class="appointment-btn"><a href="/imageDetection">Analyse with Image</a></li>
                              <li class="appointment-btn"><a href="/videoDetection">Analyse with Video</a></li>
                              <li class="appointment-btn"><a href="/logout">Logout</a></li>
                         </ul>
                    </div>
               </div>
     </section>





     <!-- NEWS DETAIL -->
     <section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <!-- NEWS THUMB -->
                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="images/news-image3.jpg" class="img-responsive" alt="">
                              </div>
                              <h3>Vision</h3>
                              <p>To develop a convenient self service application that assists with medical diagnosis
                                   and automatically
                                   issues a treatment and drug prescriptions for the illness you might have. With the
                                   use of smart
                                   contracts you can purchase the medication via the application and also get
                                   recommendations of new drugs.</p>

                              <h3>Objectives</h3>
                              <ul>
                                   <li>To develop a web application that will assist with diagnosis and treatment.</li>
                                   <li>To design a machine learning algorithm that will accurately classify diseases and
                                        does medical
                                        diagnosis.</li>
                                   <li>To create an efficient self-prescription service system with automated drug
                                        dispensing capabilities.</li>
                                   <li>To automate the payment process through use of smart contracts.</li>

                              </ul>


                         </div>
                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">
                              <div class="news-author">
                                   <h4>MALT Health Services</h4>
                                   <p>Development of Automated Self Prescription Service System with New drug awareness
                                        capability and Smart Contract Specifications.</p>
                              </div>

                              <div class="recent-post">
                                   <h4>System Offered</h4>

                                   <div class="media">
                                        <div class="media-object pull-left">
                                             <a href="#"><img src="images/news-image.jpg" class="img-responsive"
                                                       alt=""></a>
                                        </div>
                                        <div class="media-body">
                                             <h4 class="media-heading"><a href="#">Image and Video detection system</a>
                                             </h4>
                                        </div>
                                   </div>

                                   <div class="media">
                                        <div class="media-object pull-left">
                                             <a href="#"><img src="images/news-image.jpg" class="img-responsive"
                                                       alt=""></a>
                                        </div>
                                        <div class="media-body">
                                             <h4 class="media-heading"><a href="#">Chat bot</a></h4>
                                        </div>
                                   </div>
                              </div>

                              <div class="news-categories">
                                   <h4>Skin Disease Focus</h4>
                                   <li><a href="#"><i class="fa fa-angle-right"></i> Drug rash</a></li>
                                   <li><a href="#"><i class="fa fa-angle-right"></i> Erythema migrans</a></li>
                                   <li><a href="#"><i class="fa fa-angle-right"></i> Pityriasis rosea</a></li>
                                   <li><a href="#"><i class="fa fa-angle-right"></i> Ring worm</a></li>
                              </div>

                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>

                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="#">info@malt.com</a></p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News</h4>
                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="images/news-image.jpg" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#">
                                             <h5>Amazing Technology</h5>
                                        </a>

                                   </div>
                              </div>

                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="images/news-image.jpg" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#">
                                             <h5>New Healing Process</h5>
                                        </a>

                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>



               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.sticky.js"></script>
     <script src="js/jquery.stellar.min.js"></script>
     <script src="js/jquery.magnific-popup.min.js"></script>
     <script src="js/magnific-popup-options.js"></script>
     <script src="js/wow.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/custom.js"></script>

</body>

</html>