<form action="/login" method="post">
    <div class="login-page">
        <div class="login-page-content">
            <div class="login-page-logo logo">
                <span class="p-1">M</span>
                <span class="p-2">M</span>
                <span>Malt</span>
            </div>
            <form class="login-page-form">
                <input type="text" name="username" class="form-login-input" placeholder="Email">
                <span>and</span>
                <input type="password" name="password" class="form-login-input" placeholder="Password">
                <span>-</span>

                <button class="form-login-btn">Login</button>
               {{!--  <input type="button" class="form-signup-btn signup" value="Sign Up"> --}}
            </form>
        </div>
    </div>
</form>